
<%# Create a division for the comment %>
<%= div_for comment do %>
  <p>
    <%# Show the time that's passed since this comment was posted %> 
    <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong> <br />        
    
    <%# Display the comment body. HTML escape it to ensure that it renders without breaking things. %> 
    <%= h(comment.body) %> 
  </p>
<% end %>
