//Hide the comment that was created
var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();

//Find the comments wrapset and prepend the new comment
$('#comments').prepend(new_comment);

//Use the fadeIn animation to display the comment that was just created 
$('#comment_<%= @comment.id %>').fadeIn('slow');

//Reset the form 
$('#new_comment')[0].reset();
