<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%# Second level header comments %>
<h2>Comments</h2> 

<%# Show the comments of a post on the post's page.%>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%# Form for adding new comments %>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p>
    <%= f.label :body, "New Comment" %> <br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
